
body{background-image: url("motorbike.jpg");
    background-size: 100%;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    

} 
.loginBox {
    position: relative;
    top: 0%;
    left: 35%;
    width: 30%;
    height: 45%;
    padding: 2% 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    background: rgba(0, 0, 0, .5);
}
.user{
    width: 20%;
    height:20%;
    border-radius: 50%;
    overflow: hidden;
    position:center;

}
h4{
    margin:0;
    padding: 0 0;
    color: #ffffff;
    text-align: center;
}
.loginBox label{
    margin:0;
    padding:0;
    font-weight: bold;
    color: #ffffff;
}
.loginBox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginBox input[type="text"], 
.loginBox input[type="password"]{
    border:none;
    border-bottom:1px solid #ffffff;
    background: transparent;
    outline:none;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
}
::placeholder{
    color:rbga(255,255,255,.5);
}
.loginBox button[type="submit"]{
    border: none;
    outline: none;
    height: 20%; 
    width: 60%;
    float: right;
    color: #ffffff;
    font-size: 16px;
    background: #ff7f00;
    cursor: pointer;
    border-radius: 20%;
}
.loginBox input[type="submit"]:hover{
    background: #f9a04f;
    color: #262626;
}
.loginBox a{
    color:#ffffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding:1%;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #221403;
  color: white;
}



/*For the registration form*/ 

* {box-sizing: border-box}

.input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
.input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.registerbtn{
background-color: #ff7f00;
float: center;
width:10%;
height: 50%;
opacity: 0.9;
margin:8%;
border-radius: 2%;
color: #ffffff;
cursor: pointer;
text-align: center;
position: center;

}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}
/*For Driver Register*/

.form_reg{
   background-color: rgba(0, 0, 0, .5); 
   color: white;
   border-radius: 2%;
   padding: 2%;
}

.reg_left_div{
    padding-left: 2%;
    padding-right: 2%;
}

.reg_right_div{
    padding-left: 2%;
    padding-right: 2%;
   
}
.driver_card{
    background-color: rgba(0, 0, 0, .5);
    margin: auto 0;
    max-height: 100%;
    max-width: 100%;
}
.backg{
    background-color: rgba(0, 0, 0, .5); 
    height:100% ;
    width: 100%;
    margin: auto 0;
    position: relative;
}
